<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
<%= form_for(@client) do |f| %>
<%= render 'shared/error_messages' %>
 <%= f.text_field :name, :placeholder => " Name" %> 
<%= f.email_field :email, :placeholder => "Email" %> 
<%= f.password_field :password, :placeholder => "Password" %>
<%= f.password_field :password_confirmation, :placeholder => "Confirmation" %>
 <%= f.submit "Create an account", class: "btn-submit" %> 

    <% end %>
  </div>
</div>
