<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
<%= form_for(@client) do |f| %>
<%= render 'shared/error_messages' %>
<%= f.label :Name %>
 <%= f.text_field :name, :placeholder => " Your Name" %> 
<%= f.label :email %>
<%= f.email_field :email, :placeholder => "Your Email Address" %>

         <fieldset>
          <p>
             <label>Choose your District</label>
             <select id = "client_district" name = "client[district]">
               <option value = "Al-Dirah (old Riyadh)">Al-Dirah (old Riyadh)</option>
               <option value = "Salam">Salam</option>
               <option value = "Otayyigah">Otayyigah</option>
              
             </select>
          </p>
          </fieldset>
<%= f.label :password %>
<%= f.password_field :password, :placeholder => "Your Password" %>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, :placeholder => "Confirmation Your Password" %>
 <%= f.submit "Create an account", class: "btn btn-large btn-primary" %> 

    <% end %>
  </div>
</div>
