<% provide(:title, (@client.name)) %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">District</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%= @client.name %></td>
      <td><%= @client.email %></td>
      <td><%= @client.district %></td>
    </tr>
      </tbody>
      </table>
      
       <h2>Your Orders</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">pickup</th>
      <th scope="col">Deliver to</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  	<% @client.orders.each do |order| %>
    <tr>
      <th scope="row">1</th>
      <td><%= order.pickup %></td>
      <td><%= @client.district %></td>
      <td><%= order.details %></td>
    </tr>
    <% end %>
      </tbody>
      </table>      
      

<%= render 'orders/order' %>

