      <h2>Make Orders</h2>
      <%= form_with model: [ @client, @client.orders.build ] do |form| %>
      <fieldset>
          <p>
             <label>Pickup</label>
             <select id = "order_pickup" name = "order[pickup]">
               <option value = "Al-Dirah (old Riyadh)">Al-Dirah (old Riyadh)</option>
               <option value = "Salam">Salam</option>
               <option value = "Otayyigah">Otayyigah</option>
               <option value = "Manfuha">Manfuha</option>
               <option value = "Manfuha Al-Jadidah (منفوحة الجديدة – "new Manfuha")">Manfuha Al-Jadidah (منفوحة الجديدة – "new Manfuha")</option>
               <option value = "Al-'Oud">Al-'Oud</option>
               <option value = "Al-Mansora">Al-Mansora</option>
               <option value = "Al-Margab">Al-Margab</option>
               <option value = "Al-Shemaysi">Al-Shemaysi</option>
               <option value = "Al-Badi'ah">Al-Badi'ah</option>
               <option value = "Al-Nasriyyah">Al-Nasriyyah</option>
               <option value = "Al-Ma'athar">Al-Ma'athar</option>
               <option value = "Umm Al-Hamam">Umm Al-Hamam</option>
               <option value = "Al-'Olayya">Al-Olayya</option>
               <option value = "Al-Sulaymaniyyah">Al-Sulaymaniyyah</option>
               <option value = "Al-Izdihar">Al-Izdihar</option>
               <option value = "Al-Masif">Al-Masif</option>
               <option value = "Al-Murooj">Al-Murooj</option>
               <option value = "Al-Nakheel">Al-Nakheel</option>
               <option value = "King Saud University main campus">King Saud University main campus</option>
               <option value = "Al-Rahmaniyya">Al-Rahmaniyya</option>
               <option value = "Al-Muhammadiyya">Al-Muhammadiyya</option>
               <option value = "Hazm">Hazm</option>
               <option value = "Nemar">Nemar</option>
               <option value = "Deerab">Deerab</option>
               <option value = "Diplomatic Quarter">Diplomatic Quarter</option>
               <option value = "Al-Rabwah">Al-Rabwah</option>
               <option value = "Al-Malaz">Al-Malaz</option>
               <option value = "Al-Rayyan">Al-Rayyan</option>
               <option value = "Al-Shifa">Al-Shifa</option>
               <option value = "Dharat Laban">Dharat Laban</option>
               <option value = "As-Suwaidi">As-Suwaidi</option>
               <option value = "Al-Hamra">Al-Hamra</option>
               <option value = "Al-Fayha">Al-Fayha</option>
               <option value = "Al-Malga">Al-Malga</option>
               <option value = "Al-Sahafa">Al-Sahafa</option>
               <option value = "Al-Ghadir">Al-Ghadir</option>
               <option value = "Al-Qayrawan">Al-Qayrawan</option>
               <option value = "Al-Aqiq">Al-Aqiq</option>
              
             </select>
          </p>
          </fieldset>
  <p>
    <%= form.label :pickup %><br>
    <%= form.text_field :pickup %>
  </p>
  <p>
    <%= form.label :details %><br>
    <%= form.text_area :details %>
  </p>
  <p>
    <%= form.submit  %>
  </p>
  <% end %>