<!DOCTYPE html>
<html>
  <head>

    <title><%= full_title(yield(:title)) %></title>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %> 
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
      	<style>


</style>
  </head>
  <body style= background-color:#D1D7E0;>
  	
    <%= render 'layouts/header' %>
    <div class="container">
    	<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      
    </div>
  </body>
</html>